@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="container">
    <div class="row">
        <hgroup class="title">
            <h1>XÁC NHẬN CẬP NHẬT MẬT KHẨU</h1>
        </hgroup>
        <div>
            <p>
                Vui lòng kiểm tra lại email của bạn!
            </p>
        </div>
        </div>
    </div>

